* {
    box-sizing: border-box;
}
.center {
    
    height: 100%;
    
  }
  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  #google_search {
      font-size: large;
      width: 40vw;
      border-radius: 15px;
  }
  .separation {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }